
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>
 
 {{#each rows}}
<form action="/editUser/{{this.id}}" method="post" class="row g-3 needs-validate">

  {{> userForm}}
 {{/each}} 
</form>