<div class="row  align-items-center text-center">
    <div class="col">
        <button class="btn btn-success btn-lg">LECTURER</button>
    </div>
    <div class="col">
        <button class="btn btn-lg btn-primary">ADMINSTRATOR</button>
    </div>
</div>

<form action="/download" method="post">
<div class="row text-center">
    
        <div class="mb-3 col-4">
    <label for="" class="form-label"></label>
    <select class="form-select selectCourse" name="course" id="selectCourse"  >
        <option selected>Select course</option>
        <option value="it">Bsc. IT</option>
        <option value="ictm">Bsc. ICTM</option>
        <option value="is">Bsc. IS</option>
    </select>
</div>

        <div class="mb-3 col-4">
    <label for="" class="form-label"></label>
    <select disabled   class="form-select selectYear"  name="course" id="selectYear">
        <option selected>Select Year</option>
        <option value="1">Year I</option>
        <option value="2">Year II</option>
        <option value="3">Year III</option>
    </select>
</div>

        <div class="mb-3 col-4">
    <label for=""  class="form-label"></label>
    <select disabled  class="form-select selectSemester" name="course" id="selectSemester "
       >
        <option selected>Select semester</option>
        <option value="1">Sem I</option>
        <option value="3">Sem II</option>
        
    </select>
</div>
    
</div>
<div class="text-center">
    <input type="submit" value="Download" class="btn btn-info btn-lg " id="downloadButton" disabled>
</div>
</form>

<script>
 const selectCourse = document.querySelector('.selectCourse');

selectCourse.addEventListener('change', (event) => {
  const enableYear = document.querySelector('.selectYear');
    enableYear.disabled = false;
 
})
 const Year = document.querySelector('.selectYear')
 Year.addEventListener('change', (event) => {
   
  const enableSemester = document.querySelector('.selectSemester');
    enableSemester.disabled = false;
    enableSemester.addEventListener('change',(event)=>{
        const downloadButton=document.querySelector('#downloadButton')
        .disabled=false
    })
 
})


//enable download button

    </script

<footer class="text-center">

<!-- CONTACT SECTION END-->
<div class="d-flex container-fluid fixed-bottom align-text-bottom ">
    <div class="container align-center">
         &copy; 2022 | All Rights Reserved |  <a href="" style="color: rgb(148, 84, 84)" target="_blank">Design by : w~tech</a>
    </div>
  
</div>

</footer>